---
permalink: events
layout: page
title: Talks
---

<ul class="events">
  {% for event in site.data.events %}
    <li>
      <h4>
        <span class="event-name">{{ event.name }}</span>
        <span class="location">in {{ event.location }}</span>
      </h4>
      {% for talk in event.talks %}
        <p class="talk-title">
          <a href="{{ talk.url }}">{{ talk.title }}</a>
        </p>
      {% endfor %}
      <ul class="x-separated-list x-separated-list-meta">
        <li><time datetime="{{ event.date | date: "%Y-%m" }}">{{ event.date | date: "%B %Y" }}</time></li>
        {% if event.copresenters.size > 0 %}
          {% assign copresenter_html = "Copresented with " %}
          {% for copresenter in event.copresenters %}
            {% assign copresenter_html = copresenter_html | append:'<a href="' | append:copresenter.url | append:'">' | append:copresenter.name | append:'</a>🍭' %}
          {% endfor %}
          <li>
            {{ copresenter_html | split:'🍭' | join:', ' }}
          </li>
        {% endif %}
      </ul>
    </li>
  {% endfor %}
</ul>
