<ul class="footer-links">
  <li><a class="icon-rss" href="http://feeds.feedburner.com" title="Atom/RSS feed for Jeff Duan"></a></li>
  <li><a class="icon-github" href="https://github.com" title="Jeff Duan on GitHub"></a></li>
  <li><a class="icon-twitter" href="https://twitter.com" title="Jeff Duan on Twitter"></a></li>
  <li><a class="icon-instagram" href="https://instagram.com" title="Jeff Duan on Instagram"></a></li>
  <li><a class="icon-linkedin" href="https://www.linkedin.com/in" title="Jeff Duan on LinkedIn"></a></li>
</ul>
