ul.events {
  padding-left: 0;
  list-style: none;

  li {
    margin-bottom: 0;
  }

  h4 span.location {
    font-weight: normal;
  }

  .talk-title {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;
  }
}
