.site-header {
  position: relative;

  .container {
    padding-bottom: 28px;
  }

  &:after {
    background-color: rgba(#000, .03);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
  }
}

.site-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0 34px 0 0;

  @include breakpoint {
    margin: 0;
  }
}
